PRAKTIKUM-14/tugas-smart-device/node-red-tugas-new.json
[
    {
        "id": "89ce5c1151437c4f",
        "type": "tab",
        "label": "Tugas-SmartDevice",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e04fe698831af50c",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "b44d60a94fd0e966",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lb-hasil-red",
        "label": "Lampu Red",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "86db9b1682088ad7",
        "type": "ui_switch",
        "z": "89ce5c1151437c4f",
        "name": "sw-lampu-red",
        "label": "Lampu Red",
        "tooltip": "",
        "group": "b44d60a94fd0e966",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "0033024ebca6765b",
                "e04fe698831af50c"
            ]
        ]
    },
    {
        "id": "9471e4cbc4732e00",
        "type": "ui_switch",
        "z": "89ce5c1151437c4f",
        "name": "sw-lampu-green",
        "label": "Lampu Green",
        "tooltip": "",
        "group": "b44d60a94fd0e966",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "fd0b0f76d70bb138",
                "f0f84beafb143aea"
            ]
        ]
    },
    {
        "id": "a39a1b4da48b2e28",
        "type": "ui_switch",
        "z": "89ce5c1151437c4f",
        "name": "sw-lampu-blue",
        "label": "Lampu Blue",
        "tooltip": "",
        "group": "b44d60a94fd0e966",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "4db555d3685bbb09",
                "f465cea1d9ec6099"
            ]
        ]
    },
    {
        "id": "f0f84beafb143aea",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "b44d60a94fd0e966",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lb-hasil-blue",
        "label": "Lampu Green",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "f465cea1d9ec6099",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "b44d60a94fd0e966",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lb-hasil-green",
        "label": "Lampu Blue",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "3b19d903c2bd9577",
        "type": "comment",
        "z": "89ce5c1151437c4f",
        "name": "Control",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "cb799feba671a92b",
        "type": "comment",
        "z": "89ce5c1151437c4f",
        "name": "Monitoring",
        "info": "",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "b444d4fd1577c33d",
        "type": "comment",
        "z": "89ce5c1151437c4f",
        "name": "Cahaya",
        "info": "",
        "x": 110,
        "y": 740,
        "wires": []
    },
    {
        "id": "3e7f236ff7c76960",
        "type": "mqtt in",
        "z": "89ce5c1151437c4f",
        "name": "esp-temp",
        "topic": "1941720043/room/suhu",
        "qos": "2",
        "datatype": "auto",
        "broker": "dab34601.9f2cc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "0fc3dbe6b8a0cc39"
            ]
        ]
    },
    {
        "id": "0fc3dbe6b8a0cc39",
        "type": "ui_chart",
        "z": "89ce5c1151437c4f",
        "name": "room-temp",
        "group": "bbc92ecb962298be",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Suhu Ruangan",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-50",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5a31cb4d387119cf",
        "type": "mqtt in",
        "z": "89ce5c1151437c4f",
        "name": "esp-hum",
        "topic": "1941720043/room/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "dab34601.9f2cc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "9a499ce56b0cab34"
            ]
        ]
    },
    {
        "id": "9a499ce56b0cab34",
        "type": "ui_chart",
        "z": "89ce5c1151437c4f",
        "name": "room-humidity",
        "group": "bbc92ecb962298be",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Suhu Kelembaban",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 560,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0033024ebca6765b",
        "type": "mqtt out",
        "z": "89ce5c1151437c4f",
        "name": "room-lamp",
        "topic": "1941720043/room/lampred",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dab34601.9f2cc8",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "43515fc5758571d7",
        "type": "ui_gauge",
        "z": "89ce5c1151437c4f",
        "name": "gauge-light",
        "group": "dbe231626671d7e0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Satuan Cahaya",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e650ea2c495f34b9",
        "type": "mqtt in",
        "z": "89ce5c1151437c4f",
        "name": "esp-light",
        "topic": "1941720043/room/ldr",
        "qos": "2",
        "datatype": "auto",
        "broker": "dab34601.9f2cc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "43515fc5758571d7",
                "223162bd8ba0e55f"
            ]
        ]
    },
    {
        "id": "055dfa27b7fcf11c",
        "type": "comment",
        "z": "89ce5c1151437c4f",
        "name": "Contact",
        "info": "",
        "x": 110,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fd0b0f76d70bb138",
        "type": "mqtt out",
        "z": "89ce5c1151437c4f",
        "name": "room-lamp",
        "topic": "1941720043/room/lampgreen",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dab34601.9f2cc8",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "4db555d3685bbb09",
        "type": "mqtt out",
        "z": "89ce5c1151437c4f",
        "name": "room-lamp",
        "topic": "1941720043/room/lampblue",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dab34601.9f2cc8",
        "x": 459,
        "y": 324,
        "wires": []
    },
    {
        "id": "ce59fc09df12f9af",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "c463d868f3ac1881",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "lb-contact",
        "label": "Kelas: ",
        "format": "TI-3E",
        "layout": "row-left",
        "x": 520,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4630771b6402e8f4",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "c463d868f3ac1881",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "lb-contact",
        "label": "Nim: ",
        "format": "1941720043",
        "layout": "row-left",
        "x": 520,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b2a966b534ca5ac8",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "c463d868f3ac1881",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "lb-contact",
        "label": "Nama: ",
        "format": "Ardila Lukita ",
        "layout": "row-left",
        "x": 520,
        "y": 1280,
        "wires": []
    },
    {
        "id": "223162bd8ba0e55f",
        "type": "function",
        "z": "89ce5c1151437c4f",
        "name": "",
        "func": "m = msg.payload\nt = msg.topic;\n\nif (m <= 500)\n{\n    return {topic:t, payload:'Terang'};\n}\n\nelse if(501 <= m && m <= 700)\n{\n    return {topic:t, payload:'Redup'};\n}\n\nelse if(m >= 701)\n{\n    return {topic:t, payload:'Gelap'};\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "8471540248f8dd73"
            ]
        ]
    },
    {
        "id": "2e7b484b5576626f",
        "type": "inject",
        "z": "89ce5c1151437c4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 860,
        "wires": [
            [
                "223162bd8ba0e55f"
            ]
        ]
    },
    {
        "id": "8471540248f8dd73",
        "type": "ui_text",
        "z": "89ce5c1151437c4f",
        "group": "dbe231626671d7e0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "light",
        "label": "Kondisi Cahaya",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "b44d60a94fd0e966",
        "type": "ui_group",
        "name": "Control",
        "tab": "a89cdacf59331d8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "dab34601.9f2cc8",
        "type": "mqtt-broker",
        "name": "Mqtt Server AWS",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bbc92ecb962298be",
        "type": "ui_group",
        "name": "Monitoring",
        "tab": "a89cdacf59331d8c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "dbe231626671d7e0",
        "type": "ui_group",
        "name": "Cahaya",
        "tab": "a89cdacf59331d8c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c463d868f3ac1881",
        "type": "ui_group",
        "name": "Institusi",
        "tab": "3a8884db01fb57a2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a89cdacf59331d8c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-home",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a8884db01fb57a2",
        "type": "ui_tab",
        "name": "Contact",
        "icon": "fa-address-book-o",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]